name: Build Binary

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            artifact_name: OVH-DNS-Manager.exe
            asset_name: ovh-dns-manager-windows.exe
          - os: ubuntu-latest
            artifact_name: OVH-DNS-Manager
            asset_name: ovh-dns-manager-linux
          - os: macos-latest
            artifact_name: OVH-DNS-Manager
            asset_name: ovh-dns-manager-mac

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
        
    - name: Build with PyInstaller
      run: |
        pyinstaller --onefile --collect-all rich --name "OVH-DNS-Manager" main.py
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: dist/${{ matrix.artifact_name }}